.kievopt {
    padding: 80px 0;
    background-color: #EEF3F9;
}

.kievopt h2 {
    font-size: 21px;
    font-weight: 900;

}

.kievopt-style {
    color: #2F713E;

    & span {
      color: #C22B2E;  
    }
}