.opencart {
    padding: 120px 0;
    min-height: 600px;
}

.small-title {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
}

.opencart-item {
    margin-bottom: 3rem;
    text-align: center;
}

.opencart-content {
    box-shadow: 0 0px 9px 2px #a7a7a72b;
    padding: 30px 25px;
    min-height: 360px;
    text-align: center;
}

.opencart-content p {
    margin-top: 25px;
    line-height: 1.8;
    font-size: 15px;
}
