.utm {
    padding: 120px 0;
    min-height: 70vh;
}

.utm {
    font-family: 'Roboto', sans-serif;
}

.utm h3 {
    font-weight: 300;
    margin-bottom: 25px;
}

.form-control:focus {
    border-color: $main-color;
    box-shadow: 0 0 2px 0.2rem rgba(0, 123, 255, .10);
}

.utm hr {
    margin: 50px 0;
}

.utm .input-group-text {
    width: 130px;
}

.utm .input-group {
    margin: 30px 0;
}

.utm .form-row>.col, .form-row>[class*=col-] {
    padding-left: 15px;
    padding-right: 15px;
}

input::placeholder {
    color: #ccc !important;
}